@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    /* style for the content */
    .text-center {
        text-align: center;
        margin: 50px auto;
        max-width: 600px
       
    }
 
    /* main heading */
    .display-4 {
        font-size: 2.5rem;
        color: #007bff;
    }
</style>
 
<div class="text-center">
    <h1 class="display-4">Welcome To Team Angeles MegaDesk</h1>
</div>